<br />
<div class="container bootdey">
  <div class="email-app mb-4">
    <!-- menu de a izquierda -->
    <nav>
      <a href="/send-box" class="btn btn-primary btn-block">New Email</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-inbox"></i> Inbox
            <span class="badge badge-danger"></span
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Send-box</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
        </li>
      </ul>
    </nav>

    <main class="inbox">
      <ul class="messages">
        <li class="message unread">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">
                <span class="fa fa-paper-clip"></span> Today, 3:47 PM</span
              >

              <!-- btn eliminar -->
              <!-- <div>
                <button>
                  <img
                    class="float-right btn btn-outline-primary mt-1"
                    src="https://cdn5.vectorstock.com/i/1000x1000/28/44/container-button-trash-can-icon-vector-5812844.jpg"
                    width="30"
                    height="30"
                    alt=""
                  />
                </button>
              </div> -->
              <!-- ------------------------- -->
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">
                <span class="fa fa-paper-clip"></span> Today, 3:47 PM</span
              >
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">Lorem ipsum dolor sit amet.</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message unread">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">Lorem ipsum dolor sit amet.</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message unread">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
        <li class="message">
          <a href="#">
            <div class="actions">
              <span class="action"><i class="fa fa-square-o"></i></span>
              <span class="action"><i class="fa fa-star-o"></i></span>
            </div>
            <div class="header">
              <span class="from">Lukasz Holeczek</span>
              <span class="date">Today, 3:47 PM</span>
            </div>
            <div class="title">Lorem ipsum dolor sit amet.</div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </div>
          </a>
        </li>
      </ul>
    </main>
  </div>
</div>
